[submodule "system_test/test_app"]
	path = system_test/test_app
	url = https://github.com/pivotal-cf/rabbit-labrat.git
[submodule "system_test/rabbit-example-app"]
	path = system_test/rabbit-example-app
	url = https://github.com/pivotal-cf/rabbit-example-app.git
[submodule "src/github.com/pivotal-cf/rabbitmq-upgrade-preparation"]
	path = src/github.com/pivotal-cf/rabbitmq-upgrade-preparation
	url = https://github.com/pivotal-cf/rabbitmq-upgrade-preparation
[submodule "src/github.com/pivotal-cf/rabbitmq-cluster-migration-tool"]
	path = src/github.com/pivotal-cf/rabbitmq-cluster-migration-tool
	url = https://github.com/pivotal-cf/rabbitmq-cluster-migration-tool
